$light: #fff;
$primary-color: #ae3b8b;
$secondary-color: #d950ae;
$base-color: #6f8ba4;
$title-color: #ae3b8b;
$black: #222;
$gray: #eff0f3;
$secondary-bg: #f4f9fc;
$border-color: #fafafa;
$primary-font: 'Exo', sans-serif;
$secondary-font: 'Roboto', sans-serif;

$grad-color: linear-gradient(to bottom, #05a5f9, #10dab7);
